.profileCard {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    position: sticky;
    top: 4.5rem;
    box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.05);
}

.col__1 {
    padding: 1.5rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col__1>p {
    font-size: 0.85rem;
    color: #00000099;
    font-weight: 600;
    max-width: 10rem;
    margin: auto;
    margin-top: .25rem;
}

.col__2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.col__2>div {
    padding: 1.5rem;
    flex-basis: 50%;
    border: 1px solid whitesmoke;
}

.col__2>div:last-child {
    padding: 1.5rem 2rem;
}

.col__2>div>p {
    font-size: 0.85rem;
    color: #00000099;
    font-weight: 600;
}

.col__3 {
    padding: 1rem 0;
    text-align: center;
}

.col__3>a {
    color: #0058a2;
    font-weight: 500;
    cursor: pointer;
}

.col__1>label {
    position: relative
}

.col__1>label>span {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(-50%);
    color: #00000099;
}

.col__1>h1,
.col__1>p {
    position: relative;
}

.col__1>h1>span,
.col__1>p>span {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(110%, 0%);
}

.add {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}